{% extends 'train_main_app/base.html' %}

{% load static %}
{% load main_tags %}
{% load search_tags %}

{% block head %}
    <link type="text/css" href="{% static 'search/css/detailed_voyage.css' %}" rel="stylesheet" />
    <link type="text/css" href="{% static 'search/css/search_common.css' %}" rel="stylesheet" />
    <script src="{% static 'search/js/seats_selection.js' %}"></script>
    <script src="{% static 'search/js/get_time.js' %}"></script>
    <title>Select seats</title>
{% endblock %}


{% block main %}
<div id="view_voyage" class="container-fluid">
<div class="sys_message">
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<div id="voyage_title_block">
    <h2>Chosen voyage:</h2>
    {% if voyage.voyage_entity.name %}
        <h1 id="voyage_name">{{ voyage.voyage_entity.name }}</h1>
    {% endif %}
    <h2>Departing from: {{ voyage.departure_en_route.station.name }} at {{ voyage.departure_en_route.arrival_datetime }}</h2>
    <h2>Arriving to: {{ voyage.arrival_en_route.station.name }} at {{ voyage.arrival_en_route.arrival_datetime }}</h2>
</div>

<div class="voyage_time_info">
    <p>Time in the city of departure: <span id="time_container"> </span> </p>
</div>

<div id="wagonscheme">
    <h4>Choose your seats</h4>
    {% for wagon_name, wagon_info in seats_by_wagons.items %}

    <div class="detailed_wagon">
        <span>
            Wagon: {{ wagon_name }}
            {% if wagon_info.is_bc_wagon %}
            , <span class="bc_title">Business-class </span>
            {% endif %}
        </span>
        <div class="seats_display">
            {% for seat_row in wagon_info.seat_numbers %}
                <div class="seat_row">
                    {% for seat_number in seat_row %}
                        {% if seat_number in voyage.taken_seats %}
                            <div class="seat_number_taken">{{ seat_number }}</div>
                        {% else %}
                            {% if wagon_info.is_bc_wagon %}
                                <div class="seat_number bc_seat" price="{{ voyage.seat_prices.bc_seat_price }}">{{ seat_number }}</div>
                            {% else %}
                                <div class="seat_number" price="{{ voyage.seat_prices.normal_seat_price }}">{{ seat_number }}</div>
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    </div>

    {% endfor %}
</div>

<div id="purchase_form">
    Stations to go: {{ voyage.stations_to_go }}

    <div id="total_cost_container">
        <p>Total price:</p>
        <span id="total_cost_number"></span>
        <span>{% currency_sign %}</span>
    </div>


    <form method="post" action="">
        {% csrf_token %}

        <div class="errors"> {{ form.non_field_errors }}</div>

        {% for f in form %}
            <p>
                {% if not f.is_hidden %} <label for="{{ f.id_for_label }}"> {{ f.label }}: </label> {% endif %}
                {{ f }}
            </p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        {% create_purchase_button voyage 'detailed_voyage' %}

    </form>
</div>

</div>
{% endblock %}