{% extends 'train_main_app/base.html' %}

{% load static %}
{% load main_tags %}
{% load search_tags %}

{% block head %}
    <title>Suitable voyages</title>
    <link rel="stylesheet" href="{% static 'search/css/list_voyages.css' %}">
    <link type="text/css" href="{% static 'search/css/search_common.css' %}" rel="stylesheet" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/duotone.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block main %}
<div id="list_suitable_voyages" class="container-fluid">
<div id="voyages_list_upper_message">
    {% if not voyages %}
    <h1>No voyages were found</h1>
    {% else %}
    <div id="city_photos" class="row">

        <div id="departure_city_photo" class="col-3">
            {% if departure_city.photo %}
                <img src="{{ departure_city.photo.url }}">
            {% endif %}
        </div>
        <div class="col-3">
        </div>

        <div id="arrival_city_photo" class="col-3">
            {% if arrival_city.photo %}
                <img src="{{ arrival_city.photo.url }}">
            {% endif %}
        </div>
        <div class="col-2"></div>
    </div>

    {% endif %}
</div>

<div id="voyages_list">
{% for v in voyages %}
    <div class="voyage_card container-fluid">

        <div id="voyage_title_block">
            {% if v.voyage.name %}
                <h1 id="voyage_name">{{ v.voyage.name }}</h1>
            {% endif %}

            <h2>{{ v.departure_station.name }} - {{ v.arrival_station.name }}</h2>
            <h2>
                <i class="fa-solid fa-clock"></i>
                Departure:
                {{ v.voyage.departure_datetime }}
            </h2>
        </div>

        <div class="departure_arrival_stations_info row">
            <div class="col-3"></div>
            <div class="departure_block col-2">
                <p class="departure_time">{{ v.voyage.departure_datetime }}</p>
                <p class="departure_station"> {{ v.departure_station.name }}</p>
            </div>
            <div class="col-1"><img src="{% static 'train_main_app/system_images/right-arrow.png' %}"></div>
            <div class="arrival_block col-3">
                <p class="departure_time">{{ v.arrival_datetime }}</p>
                <p class="departure_station"> {{ v.arrival_station.name }}</p>
            </div>
            <div class="col-3"></div>
        </div>

        <div class="stations_scheme">
            <h3 class="st_in_route">Stations en route:</h3>
            {% for station in v.stations_en_route %}

                {% if station.station == v.departure_station or station.station == v.arrival_station %}
                    <span class="highlighted_station"> {{ station.station.name }} </span>
                {% else %}
                    <span> {{ station.station.name }}</span>
                {% endif %}

                <span>
                    {% if not forloop.last %}
                    <img src="{% static 'train_main_app/system_images/right-arrow.png' %}" class="stations_scheme_arrow">
                    {% endif %}
                </span>
            {% endfor %}
        </div>

        <div id="train_info">
                <h3><i class="fa-solid fa-train-subway"></i></h3>
                <p>{{ v.voyage.train }}</p>
        </div>

        <div class="prices_block">
            <p class="seat_type">Normal seat: <span>{{ v.seat_prices.normal_seat_price }}</span> {% currency_sign %}</p>
                <p class="seat_type">Business class: <span> {{ v.seat_prices.bc_seat_price }} </span> {% currency_sign %}</p>
        </div>

        {% create_purchase_button v 'list_voyages' %}

    </div>
{% endfor %}
</div>
</div>
{% endblock %}