{% extends 'train_main_app/base.html' %}
{% load static %}
{% load main_tags %}

{% block head %}
    <link type="text/css" href="{% static 'train_main_app/css/view_voyage.css' %}" rel="stylesheet" />
    <script src="{% static 'train_main_app/js/seats_selection.js' %}"></script>
    <script src="{% static 'train_main_app/js/get_time.js' %}"></script>
    <title>Seats selection</title>
{% endblock %}


{% block main %}
<div id="view_voyage" class="container-fluid">
<div class="voyage_title">
    <h1>Chosen voyage:</h1>
    <h2>{{ voyage.voyage_entity }}</h2>
</div>

<div class="voyage_time_info">
    <p>Time in the city of departure: <span id="time_container">{{ time_in_dep_city }} </span> </p>
</div>

<div id="seats_wagons_display">
    <h4>Choose your seats</h4>
    {% for wagon_name, wagon_info in seats_by_wagons.items %}

    <div class="detailed_wagon">
        <p>Wagon: {{ wagon_name }} {% if wagon_info.is_bc_wagon %}, Business-class {% endif %}</p>
        <div class="seats_display">
            {% for seat_row in wagon_info.seat_names %}
                <div class="seat_row">
                    {% for seat_name in seat_row %}
                        {% if seat_name in voyage.taken_seats %}
                            <div class="seat_name_taken">{{ seat_name }}</div>
                        {% else %}
                            {% if wagon_info.is_bc_wagon %}
                                <div class="seat_name bc_seat" price="{{ voyage.seat_prices.bc_seat_price }}">{{ seat_name }}</div>
                            {% else %}
                                <div class="seat_name" price="{{ voyage.seat_prices.normal_seat_price }}">{{ seat_name }}</div>
                            {% endif %}

                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    </div>

    {% endfor %}
</div>

<div id="purchase_form">
    Stations to go: {{ voyage.stations_to_go }}

    <div id="total_cost_container">
        <p>Total price:</p>
        <span id="total_cost_number"></span>
        <span>{% currency_sign %}</span>
    </div>


    <form method="post" action="">
        {% csrf_token %}

        <div class="errors"> {{ form.non_field_errors }}</div>

        {% for f in form %}
            <p>
                {% if not f.is_hidden %} <label for="{{ f.id_for_label }}"> {{ f.label }}: </label> {% endif %}
                {{ f }}
            </p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <button type="submit" class="submit_button">Purchase tickets</button>

    </form>
</div>

</div>
{% endblock %}