div#purchase_button_block {
    margin-top: 40px;
}

div#purchase_button_block p {
    border-bottom: 2px solid yellow;
}

div#purchase_button_block > * {
    display: inline-block;
}

div#purchase_button_block button {
    margin-left: 40px;
}


#voyage_title_block > * {
    margin: 20px;
}

#voyage_name {
    display: inline;
    font-size: 1.8em;
    border-bottom: 2px solid cyan;
    border-radius: 5px;
    padding: 3px;
}